h1 {
    color:black;
    font-size: 2.5em;
}

#topCard{
    position: fixed;
    color: blueviolet;
    height: 200px;
}

#product-info{
    display: flex;
    height: auto;
    width: 100%;
}
#images {
    background-color: white;    
    width: 40%;
}
.center {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#sub-images {
    display: flex;
}

.alt-images {
    width: 33%;
    border-radius: 20em;
    border-color: gray;
}
.sub-img-style {
    width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
}

#product-stats {
    width: 50%;
    background-color: blueviolet;
    padding: 2em;
}
#description {
    width: 100%;
}

/*Checking gitconfig*/
